nav {
    position: sticky;
    background-color: white;
    box-shadow: 0 4px 4px -4px #999;
}
body {
    background: whitesmoke;
    margin-bottom: 50px;
    min-height: 100%;
    position:relative;
}
footer {
    position: relative;
    bottom: -50px;
    width: 100%;
    background-color: lightgrey;
    padding: 30px;
}

.navbar-brand{
    color: steelblue;
}
.active{
    color: steelblue;
}
.masthead {
    height: 50vh;
    min-height: 250px;
    background-image: url('https://www.publicdomainpictures.net/pictures/40000/velka/blue-abstract-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

a {
    color: dimgrey;
    text-decoration: none;
    transition: color 0.25s linear;
}

a:hover{
    color: steelblue;
    text-decoration: none;
    transition: color 0.25s linear;
}