nav {
    box-shadow: 0 4px 4px -4px #999;
}
body {
    margin-top: 50px;
    background: whitesmoke;
    margin-bottom: 50px;
    position:relative;
}
footer {
    position: relative;
    bottom: -50px;
    width: 100%;
    background-color: lightgrey;
    padding: 30px;
}
.nav-item{
    padding-left: 2vw;
    padding-right: 2vw;
}
.navbar-brand{
    color: steelblue!important;
}

.active{
    color: steelblue!important;
}
.masthead {
    height: 50vh;
    background-image: url('https://www.publicdomainpictures.net/pictures/40000/velka/blue-abstract-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.spacer{
    padding: 5px;
}

a {
    color: dimgrey;
    text-decoration: none;
    transition: color 0.25s linear;
}

a:hover{
    color: steelblue!important;
    text-decoration: none;
    transition: color 0.25s linear;
}